html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* COLORS
*/
/*
* FONTS
*/
/*
* GRIDS
*/
/**
 * PX to EM
 */
/*
* Logo color animation
*/
#logo {
  -webkit-animation: changefillcolor 4s ease infinite;
  -moz-animation: changefillcolor 4s ease infinite;
  animation: changefillcolor 4s ease infinite; }

#nav-logo {
  -webkit-animation: changefillcolor 20s ease infinite;
  -moz-animation: changefillcolor 20s ease infinite;
  animation: changefillcolor 20s ease infinite; }

nav a {
  color: #ffffff;
  text-decoration: none; }
  nav a:visited {
    color: #ffffff; }
  nav a:hover {
    border-bottom: 0.125em solid #ffffff; }

@-webkit-keyframes changecolor {
  0% {
    fill: #00a470; }
  25% {
    fill: #00b4d5; }
  50% {
    fill: #e84e0f; }
  75% {
    fill: #fbe100; }
  100% {
    fill: #00a470; } }
@-moz-keyframes changefillcolor {
  0% {
    fill: #00a470; }
  25% {
    fill: #00b4d5; }
  50% {
    fill: #e84e0f; }
  75% {
    fill: #fbe100; }
  100% {
    fill: #00a470; } }
@keyframes changefillcolor {
  0% {
    fill: #00a470; }
  25% {
    fill: #00b4d5; }
  50% {
    fill: #e84e0f; }
  75% {
    fill: #fbe100; }
  100% {
    fill: #00a470; } }
@-webkit-keyframes changestrokecolor {
  0% {
    stroke: #00a470; }
  25% {
    stroke: #00b4d5; }
  50% {
    stroke: #e84e0f; }
  75% {
    stroke: #fbe100; }
  100% {
    stroke: #00a470; } }
@-moz-keyframes changestrokecolor {
  0% {
    stroke: #00a470; }
  25% {
    stroke: #00b4d5; }
  50% {
    stroke: #e84e0f; }
  75% {
    stroke: #fbe100; }
  100% {
    stroke: #00a470; } }
@keyframes changestrokecolor {
  0% {
    stroke: #00a470; }
  25% {
    stroke: #00b4d5; }
  50% {
    stroke: #e84e0f; }
  75% {
    stroke: #fbe100; }
  100% {
    stroke: #00a470; } }
.col-m-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-right: 0; }
  .col-m-1:last-child {
    margin-right: 0; }

.col-m-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-m-2:last-child {
    margin-right: 0; }
  .col-m-2:nth-child(6n) {
    margin-right: 0; }

.col-m-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-m-3:last-child {
    margin-right: 0; }
  .col-m-3:nth-child(4n) {
    margin-right: 0; }

.col-m-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-m-4:last-child {
    margin-right: 0; }
  .col-m-4:nth-child(3n) {
    margin-right: 0; }

.col-m-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-m-5:last-child {
    margin-right: 0; }
  .col-m-5:nth-child(2n) {
    margin-right: 0; }

.col-m-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-m-6:last-child {
    margin-right: 0; }
  .col-m-6:nth-child(2n) {
    margin-right: 0; }

.col-m-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-m-7:last-child {
    margin-right: 0; }
  .col-m-7:nth-child(2n) {
    margin-right: 0; }

.col-m-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-m-8:last-child {
    margin-right: 0; }
  .col-m-8:nth-child(2n) {
    margin-right: 0; }

.col-m-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-m-9:last-child {
    margin-right: 0; }
  .col-m-9:nth-child(1n) {
    margin-right: 0; }

.col-m-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-m-10:last-child {
    margin-right: 0; }
  .col-m-10:nth-child(1n) {
    margin-right: 0; }

.col-m-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-m-11:last-child {
    margin-right: 0; }
  .col-m-11:nth-child(1n) {
    margin-right: 0; }

.col-m-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-m-12:last-child {
    margin-right: 0; }
  .col-m-12:nth-child(1n) {
    margin-right: 0; }

body {
  position: absolute;
  top: 0; }

.section-container {
  height: 120vh;
  position: relative;
  width: 100vw; }

.main-nav {
  position: relative;
  z-index: 999;
  width: 100vw; }
  .main-nav ul {
    padding: 2.5vw 3vW; }
  .main-nav ul li {
    padding-right: 2.5%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    vertical-align: top;
    line-height: 2.5rem; }
  .main-nav img {
    height: 3em; }

.puff {
  height: 50%;
  width: 103%;
  display: block; }
  .puff::after {
    clear: both;
    content: "";
    display: table; }
  .puff .puff__item {
    position: relative;
    height: 50%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer; }
    .puff .puff__item:last-child {
      margin-right: 0; }
    .puff .puff__item p {
      text-align: center;
      vertical-align: middle;
      line-height: 320px;
      color: #ffffff;
      font-size: 2em; }

.omega {
  margin-right: 0; }

.hide-mobile {
  display: none; }

.margin {
  padding: 5em 5% 5em 5%; }

.about__heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #e84e0f;
  padding: 0 0 5% 0; }
  @media (min-width: 1024px) {
    .about__heading {
      font-size: 3rem; } }

.about__heading--white {
  color: white; }

.about__bodyText {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6em;
  padding-bottom: 3%;
  color: #363635; }

.about__image {
  display: none; }

.business__heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #e84e0f;
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  width: 100%;
  margin-top: 5vw; }

.icons__section {
  text-align: center;
  padding: 1%;
  padding-bottom: 6.5625em; }

.icons__image--caption {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6em;
  font-weight: 600;
  color: #363635;
  text-align: center; }

.col-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.618em; }
  .col-container::after {
    clear: both;
    content: "";
    display: table; }

.col-row {
  display: block;
  padding: .2em 0; }
  .col-row::after {
    clear: both;
    content: "";
    display: table; }

.costumer {
  background-color: #fbe100; }

.hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100vw;
  min-height: 37.5em;
  background: url("../imgs/case_sibylla/sibylla_hero.jpg") no-repeat center center;
  background-size: cover; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero .intro {
    position: relative;
    top: 8vh;
    text-align: center; }
  .hero .intro__logo img {
    width: 44vw;
    height: auto; }
  .hero .intro__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4em;
    color: #ffffff;
    margin: 0.9375em auto; }
    @media (min-width: 1024px) {
      .hero .intro__heading {
        font-size: 3rem; } }
  .hero .intro__caption {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    /* .first:hover, .first:focus {
    	background-color: $accentOrange;
    }
    .second:hover, .second:focus {
    	background-color: $accentYellow;
    }
    .third:hover, .third:focus {
    	background-color: $accentBlue;
    }*/ }
    .hero .intro__caption span {
      padding: 0.3125em; }
  .hero .slice-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75em;
    background: linear-gradient(173deg, transparent 49.8%, #ffffff 50%); }

.single {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  padding: 1.25em;
  background-color: #ffffff; }
  .single::after {
    clear: both;
    content: "";
    display: table; }
  .single * {
    margin-bottom: 0.625em; }
  .single .single__icon {
    position: relative;
    text-align: center;
    width: 8.75em;
    margin: 0 auto; }
  .single .single__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #e84e0f;
    text-align: center; }
  .single .single__paragraph {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6em;
    color: #363635;
    float: none;
    margin: 0 auto;
    margin-bottom: 5.625em;
    max-width: 43.75em; }
    .single .single__paragraph:last-child {
      margin-right: 0; }
    .single .single__paragraph:last-child {
      margin-right: auto; }
  .single .single__image img {
    width: 100%;
    height: auto; }
  .single .strategy {
    color: #fbe100; }
  .single .creation {
    color: #00b4d5; }
  .single .result {
    color: #e84e0f; }

.strategy {
  color: #fbe100; }

.creation {
  color: #00b4d5; }

.result {
  color: #e84e0f; }

.case-gallery .case-gallery__heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: 1.25em;
  z-index: 9999;
  color: #e84e0f;
  text-align: center; }
  @media (min-width: 1024px) {
    .case-gallery .case-gallery__heading {
      font-size: 3rem; } }
.case-gallery img {
  width: 100%;
  height: auto; }

.case-contact {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100vw;
  height: 62.5em;
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: #00b4d5;
  color: #ffffff; }
  .case-contact::after {
    clear: both;
    content: "";
    display: table; }
  .case-contact .case-contact__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.9375em; }
    @media (min-width: 1024px) {
      .case-contact .case-contact__heading {
        font-size: 3rem; } }
  .case-contact .case-contact__portrait img {
    width: 100%;
    height: auto; }
  .case-contact .case-contact__contactinfo > p {
    font-size: 1em; }
  .case-contact .case-contact__contactinfo > p a {
    color: #ffffff; }
  .case-contact .case-contact__contactinfo .contactinfo__name {
    font-weight: 800; }
  .case-contact .case-contact__qoute {
    margin: 0.9375em auto; }
    .case-contact .case-contact__qoute p {
      font-size: 1.125em;
      font-style: italic; }
  .case-contact .case-contact__form {
    background-color: #ffffff;
    padding: 0.9375em; }
    .case-contact .case-contact__form * {
      display: block;
      margin-bottom: 0.9375em; }
    .case-contact .case-contact__form label {
      font-size: 1.2em;
      color: #00b4d5; }
    .case-contact .case-contact__form input, .case-contact .case-contact__form button {
      width: 100%;
      padding: 0.625em;
      background-color: #00b4d5;
      border: none;
      border-radius: 0.1875em; }
      .case-contact .case-contact__form input:focus, .case-contact .case-contact__form button:focus {
        border-color: #e84e0f;
        box-shadow: none; }
      .case-contact .case-contact__form input::-webkit-input-placeholder, .case-contact .case-contact__form button::-webkit-input-placeholder {
        color: #fff; }
      .case-contact .case-contact__form input:-moz-placeholder, .case-contact .case-contact__form button:-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      .case-contact .case-contact__form input::-moz-placeholder, .case-contact .case-contact__form button::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .case-contact .case-contact__form input:-ms-input-placeholder, .case-contact .case-contact__form button:-ms-input-placeholder {
        color: #fff; }
    .case-contact .case-contact__form input {
      font-size: 0.9em; }
    .case-contact .case-contact__form button {
      background-color: #00b4d5;
      color: #ffffff;
      font-size: 0.9em; }
      .case-contact .case-contact__form button:hover, .case-contact .case-contact__form button:focus {
        background-color: #fbe100; }

.switch-case {
  display: none; }

.costumers {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  height: 500px; }

#us {
  display: none; }

/*
* Loading animation
*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Blokk';
  src: url("../fonts/blokk/BLOKKRegular.eot");
  src: url("../fonts/blokk/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/blokk/BLOKKRegular.woff") format("woff"), url("../fonts/blokk/BLOKKRegular.svg#BLOKKRegular") format("svg"); }
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feather';
  src: url("../fonts/feather/feather.eot?-9jv4cc");
  src: url("../fonts/feather/feather.eot?#iefix-9jv4cc") format("embedded-opentype"), url("../fonts/feather/feather.woff?-9jv4cc") format("woff"), url("../fonts/feather/feather.ttf?-9jv4cc") format("truetype"), url("../fonts/feather/feather.svg?-9jv4cc#feather") format("svg"); }
.ip-header {
  position: fixed;
  top: 0;
  z-index: 2001;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #363635; }
  .ip-header * {
    margin: .5em 0; }
  .ip-header h1 {
    margin: 0 auto; }
  .ip-header h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white; }

.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.logo-path {
  margin: 0 auto; }

.ip-logot {
  top: 30%;
  height: 100%;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0); }

.ip-loader {
  bottom: 35%; }

.ip-loader p {
  color: white;
  text-align: center; }

.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
  text-align: center; }

.ip-header .ip-logot svg {
  text-align: center; }

.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6; }

.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #ddd; }

.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
  -webkit-animation: changestrokecolor 4s ease infinite;
  -moz-animation: changestrokecolor 4s ease infinite;
  animation: changestrokecolor 4s ease infinite; }

/* Content */
.ip-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 10em 0;
  max-width: 1100px;
  width: 90%; }

.browser {
  margin: 0 auto;
  padding-top: 8%;
  min-height: 400px;
  max-width: 1000px;
  width: 100%;
  border-radius: 8px;
  background: #fff url(../img/browser.png) no-repeat 50% 0;
  background-size: 100%;
  color: #d3d3d3; }

.box {
  float: left;
  padding: 3.5em;
  width: 33.3%;
  font-size: 0.7em;
  line-height: 1.5; }

.box p {
  font-family: 'Blokk', Arial, sans-serif; }

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: #dfdfdf;
  color: #fff;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 5em;
  font-family: 'feather';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bell:before {
  content: "\e006"; }

.icon-cog:before {
  content: "\e023"; }

.icon-heart:before {
  content: "\e024"; }

/* Animations */
/* Initial animation of header elements */
.loading .ip-logot, .loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/* Header elements when loading finishes */
.loaded {
  /* Content animations */ }
  .loaded .ip-logo, .loaded .ip-loader {
    opacity: 1; }
  .loaded .ip-logo {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }
  .loaded .ip-loader {
    -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }
  .loaded .ip-logo svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #fff; }
  .loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }
  .loaded header.section-container nav {
    -webkit-animation: animLoadedMavigation 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: animLoadedMavigation 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .loaded main,
  .loaded .ip-main h2,
  .loaded .ip-main .browser,
  .loaded .ip-main .browser .box,
  .loaded .codrops-demos {
    -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .loaded .ip-main .browser,
  .loaded .ip-main .browser .box:first-child {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.loaded .ip-main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

.loaded .ip-main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animLoadedMavigation {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 600px, 0); } }
@keyframes animLoadedNavigation {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); } }
@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); } }
@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); } }
/* Change layout class for header */
.layout-switch .ip-header {
  position: absolute; }

/* No JS */
.no-js .ip-header {
  position: relative;
  min-height: 0px; }

.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.no-js .ip-header .ip-logo svg path {
  fill: #fff; }

/* Media queries */
@media screen and (max-width: 45em) {
  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw; }

  .box {
    width: 100%; } }
.contact {
  background-color: #363635;
  color: #FFFFFF; }
  .contact i {
    color: #e84e0f;
    font-size: 1.8rem; }

.contact__heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1.618em; }
  @media (min-width: 1024px) {
    .contact__heading {
      font-size: 3rem; } }

.contact__tagline {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0.809em; }

.contact__address {
  padding-left: 3vW; }
  .contact__address figure {
    float: left;
    display: inline-block;
    margin-right: 1.618em;
    margin-bottom: 1.618em;
    margin-top: 0.53933em;
    height: 1rem;
    clear: both; }
  .contact__address figcaption {
    float: left;
    display: inline-block;
    margin-top: 0.53933em;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: middle; }
  .contact__address p {
    clear: both;
    margin-top: 0.809em; }

.form__heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: middle;
  padding-bottom: 2.5vw;
  color: #FFFFFF; }

.social {
  padding-top: 1.618em;
  margin-bottom: 10vw; }
  .social i {
    margin-right: 0.809em; }

.contact__form {
  color: #000000; }
  .contact__form label {
    display: none; }
  .contact__form input {
    background-color: #e84e0f;
    color: #000000;
    border: 0;
    height: 2rem;
    margin-bottom: 0.809em;
    padding-left: 0.4045em;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6em; }
  .contact__form ::-webkit-input-placeholder {
    color: #000000; }
  .contact__form :-moz-placeholder {
    /* Firefox 18- */
    color: #000000; }
  .contact__form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000; }
  .contact__form :-ms-input-placeholder {
    color: #000000; }
  .contact__form textarea {
    border: 0;
    margin-bottom: 0.809em;
    background-color: #e84e0f;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6em;
    padding-left: 0.4045em;
    height: 6.472em; }

.form__button {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  float: right; }

.footer {
  padding-left: 3vW;
  padding-top: 10vw;
  clear: both; }

.divider-top, .divider-top--header, .divder-top--transparent, .divider-top--case-contact, .divider-top--yellow, .divider-top--grey {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 12.5em;
  padding: 0 50px 0 0;
  margin: 0 0 0 0;
  background: linear-gradient(-7deg, transparent 49.8%, #ffffff 50%); }

.divder-top--transparent {
  background: transparent; }

.divider-top--case-contact {
  background: #00a470; }

.divider-top--yellow {
  background: linear-gradient(-7deg, transparent 49.8%, #fbe100 50%); }

.divider-top--grey, .divider-top--header {
  background: linear-gradient(-7deg, transparent 49.8%, #363635 50%); }

.divider-top--header {
  background: linear-gradient(-7deg, transparent 49.8%, #363635 50%); }

.divider-bottom, .divider-bottom--yellow, .divider-bottom--case-contact, .divider-bottom--grey, .divider-bottom--header {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 12.5em;
  background: linear-gradient(173deg, transparent 49.8%, #ffffff 50%); }

.divider-bottom--yellow {
  background: linear-gradient(173deg, transparent 49.8%, #fbe100 50%); }

.divider-bottom--case-contact {
  background: #00a470; }

.divider-bottom--grey {
  background: linear-gradient(173deg, transparent 49.8%, #363635 50%); }

.overlay, .overlayYellow, .overlayGreen, .overlayBlue, .overlayOrange {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4; }

.overlayYellow {
  background-color: #fbe100; }

.overlayGreen {
  background-color: #00a470; }

.overlayBlue {
  background-color: #00b4d5; }

.overlayOrange {
  background-color: #e84e0f; }

@media screen and (min-width: 768px) {
  .col-t-1 {
    display: table-cell;
    width: 8.33333%;
    margin-right: 0; }

  .col-t-2 {
    display: table-cell;
    width: 16.66667%; }
    .col-t-2:nth-child(6n) {
      margin-right: 0; }

  .col-t-3 {
    display: table-cell;
    width: 25%; }
    .col-t-3:nth-child(4n) {
      margin-right: 0; }

  .col-t-4 {
    display: table-cell;
    width: 33.33333%; }
    .col-t-4:nth-child(3n) {
      margin-right: 0; }

  .col-t-5 {
    display: table-cell;
    width: 41.66667%; }
    .col-t-5:nth-child(2n) {
      margin-right: 0; }

  .col-t-6 {
    display: table-cell;
    width: 50%; }
    .col-t-6:nth-child(2n) {
      margin-right: 0; }

  .col-t-7 {
    display: table-cell;
    width: 58.33333%; }
    .col-t-7:nth-child(2n) {
      margin-right: 0; }

  .col-t-8 {
    display: table-cell;
    width: 66.66667%; }
    .col-t-8:nth-child(2n) {
      margin-right: 0; }

  .col-t-9 {
    display: table-cell;
    width: 75%; }
    .col-t-9:nth-child(1n) {
      margin-right: 0; }

  .col-t-10 {
    display: table-cell;
    width: 83.33333%; }
    .col-t-10:nth-child(1n) {
      margin-right: 0; }

  .col-t-11 {
    display: table-cell;
    width: 91.66667%; }
    .col-t-11:nth-child(1n) {
      margin-right: 0; }

  .col-t-12 {
    display: table-cell;
    width: 100%; }
    .col-t-12:nth-child(1n) {
      margin-right: 0; }

  .col-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .col-container::after {
      clear: both;
      content: "";
      display: table; }

  .col-row {
    display: block;
    padding: .2em 0; }
    .col-row::after {
      clear: both;
      content: "";
      display: table; }

  .omega {
    margin-right: 0; }

  .section-container {
    height: 40em;
    width: 100vw;
    overflow: hidden; }

  .puff {
    height: 25%;
    width: 108%; }
    .puff .puff__item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-right: 0;
      height: 20em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      overflow: hidden; }
      .puff .puff__item:last-child {
        margin-right: 0; } }
@media screen and (min-width: 1024px) {
  .col-d-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-right: 0; }
    .col-d-1:last-child {
      margin-right: 0; }

  .col-d-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-d-2:last-child {
      margin-right: 0; }
    .col-d-2:nth-child(6n) {
      margin-right: 0; }

  .col-d-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-d-3:last-child {
      margin-right: 0; }
    .col-d-3:nth-child(4n) {
      margin-right: 0; }

  .col-d-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-d-4:last-child {
      margin-right: 0; }
    .col-d-4:nth-child(3n) {
      margin-right: 0; }

  .col-d-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-d-5:last-child {
      margin-right: 0; }
    .col-d-5:nth-child(2n) {
      margin-right: 0; }

  .col-d-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-d-6:last-child {
      margin-right: 0; }
    .col-d-6:nth-child(2n) {
      margin-right: 0; }

  .col-d-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-d-7:last-child {
      margin-right: 0; }
    .col-d-7:nth-child(2n) {
      margin-right: 0; }

  .col-d-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-d-8:last-child {
      margin-right: 0; }
    .col-d-8:nth-child(2n) {
      margin-right: 0; }

  .col-d-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-d-9:last-child {
      margin-right: 0; }
    .col-d-9:nth-child(1n) {
      margin-right: 0; }

  .col-d-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-d-10:last-child {
      margin-right: 0; }
    .col-d-10:nth-child(1n) {
      margin-right: 0; }

  .col-d-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-d-11:last-child {
      margin-right: 0; }
    .col-d-11:nth-child(1n) {
      margin-right: 0; }

  .col-d-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-d-12:last-child {
      margin-right: 0; }
    .col-d-12:nth-child(1n) {
      margin-right: 0; }

  .omega {
    margin-right: 0; }

  .margin {
    padding: 7em 5%; }

  article.margin {
    padding: 10em 5%; }

  #us {
    display: block; }

  .col-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-right: 0; }
    .col-container::after {
      clear: both;
      content: "";
      display: table; }

  .col-row {
    display: block;
    padding: .2em 0; }
    .col-row::after {
      clear: both;
      content: "";
      display: table; }

  .icons__section {
    text-align: center;
    padding: 1.618em; }

  .icons__image img {
    width: 75%;
    height: auto; }

  .icons__image--caption {
    padding-top: 0.809em; }

  .hero {
    min-height: 60em; }
    .hero .intro {
      top: 10vh; }
    .hero .intro__logo img {
      width: 30vw;
      height: auto;
      margin: o auto; }
    .hero .intro__heading {
      font-size: 4em; }
    .hero .intro__caption {
      font-size: 1.5em; }
    .hero .slice-bottom {
      height: 7.5em; }

  .single {
    max-width: 60em; }

  .case-contact {
    position: relative;
    min-height: 47.5em; }
    .case-contact .col-row {
      position: relative;
      margin: 0 auto;
      max-width: 960px; }
    .case-contact .case-contact__contactinfo :first-child {
      margin-top: 1.25em; }
    .case-contact .case-contact__contactinfo > p {
      font-size: 1.5em; }
    .case-contact .case-contact__contactinfo > p a {
      font-size: 0.8em; }
    .case-contact .case-contact__qoute p {
      margin-top: 0.6em; }
    .case-contact .case-contact__form {
      padding: 0.9375em; }
      .case-contact .case-contact__form * {
        display: inline-block;
        margin-bottom: 0; }
      .case-contact .case-contact__form label {
        width: 20%;
        text-align: center;
        margin: 0;
        margin-right: 2%; }
      .case-contact .case-contact__form input {
        font-size: 0.9em;
        width: 50%;
        margin-right: 2%; }
      .case-contact .case-contact__form button {
        width: 25%; }

  .switch-case {
    display: block;
    position: fixed;
    top: 50%; }
    .switch-case .fa {
      font-size: 5em;
      color: #fbe100; }
      .switch-case .fa:hover {
        -webkit-text-stroke: 0.03em #fbe100; }

  .switch-case--prev {
    left: 0.9375em; }

  .switch-case--next {
    right: 0.9375em; }

  .contact__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 0.809em; } }
  @media screen and (min-width: 1024px) and (min-width: 1024px) {
    .contact__heading {
      font-size: 3rem; } }

@media screen and (min-width: 1024px) {
  .contact__form {
    padding-right: 6vW; }

  .footer {
    padding-left: 3vW;
    padding-top: 0;
    clear: both; }

  .divider-top, .divider-top--header, .divder-top--transparent, .divider-top--case-contact, .divider-top--yellow, .divider-top--grey {
    background: linear-gradient(-5deg, transparent 49.8%, #ffffff 50%); }

  .divder-top--transparent {
    background: transparent; }

  .divider-top--case-contact {
    background: #00a470; }

  .divider-top--yellow {
    background: linear-gradient(-5deg, transparent 49.8%, #fbe100 50%); }

  .divider-top--grey, .divider-top--header {
    background: linear-gradient(-5deg, transparent 49.8%, #363635 50%); }

  .divider-top--header {
    background: linear-gradient(-5deg, transparent 49.8%, #363635 50%); }

  .divider-bottom, .divider-bottom--yellow, .divider-bottom--case-contact, .divider-bottom--grey, .divider-bottom--header {
    background: linear-gradient(175deg, transparent 49.8%, #ffffff 50%); }

  .divider-bottom--yellow {
    background: linear-gradient(175deg, transparent 49.8%, #fbe100 50%); }

  .divider-bottom--case-contact {
    background: #00a470; }

  .divider-bottom--grey {
    background: linear-gradient(175deg, transparent 49.8%, #363635 50%); } }
html {
  font-size: 1rem; }

body {
  position: realtive;
  font-family: 'Lato','Open Sans', sans-serif; }

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6em;
  position: relative;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
