html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* COLORS
*/
/*
* FONTS
*/
/*
* GRIDS
*/
/**
 * PX to EM
 */
.col-m-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-right: 0; }
  .col-m-1:last-child {
    margin-right: 0; }

.col-m-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-m-2:last-child {
    margin-right: 0; }
  .col-m-2:nth-child(6n) {
    margin-right: 0; }

.col-m-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-m-3:last-child {
    margin-right: 0; }
  .col-m-3:nth-child(4n) {
    margin-right: 0; }

.col-m-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-m-4:last-child {
    margin-right: 0; }
  .col-m-4:nth-child(3n) {
    margin-right: 0; }

.col-m-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-m-5:last-child {
    margin-right: 0; }
  .col-m-5:nth-child(2n) {
    margin-right: 0; }

.col-m-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-m-6:last-child {
    margin-right: 0; }
  .col-m-6:nth-child(2n) {
    margin-right: 0; }

.col-m-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-m-7:last-child {
    margin-right: 0; }
  .col-m-7:nth-child(2n) {
    margin-right: 0; }

.col-m-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-m-8:last-child {
    margin-right: 0; }
  .col-m-8:nth-child(2n) {
    margin-right: 0; }

.col-m-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-m-9:last-child {
    margin-right: 0; }
  .col-m-9:nth-child(1n) {
    margin-right: 0; }

.col-m-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-m-10:last-child {
    margin-right: 0; }
  .col-m-10:nth-child(1n) {
    margin-right: 0; }

.col-m-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-m-11:last-child {
    margin-right: 0; }
  .col-m-11:nth-child(1n) {
    margin-right: 0; }

.col-m-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-m-12:last-child {
    margin-right: 0; }
  .col-m-12:nth-child(1n) {
    margin-right: 0; }

.section-container {
  height: 80vh;
  position: relative;
  width: 100vw; }

.main-nav {
  width: 100vw; }
  .main-nav ul {
    margin: 2.5vw 3vW; }
  .main-nav ul li {
    padding-right: 2.5%;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fbe100;
    vertical-align: top;
    line-height: 2.5rem; }
  .main-nav img {
    height: 3em; }

.puff {
  height: 50%;
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed; }

.puff__item {
  display: table-cell;
  width: 33.33333%;
  padding: 2.35765%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden; }

.divider-top {
  position: absolute;
  background: linear-gradient(-3deg, transparent 70%, white 0%);
  z-index: 2000;
  height: 30vh;
  width: 100vw; }

.divider-bottom {
  position: absolute;
  height: 30vh;
  background: linear-gradient(177deg, transparent 70%, white 0%);
  z-index: 2000;
  width: 100vw;
  bottom: 0; }

.divider-top--header {
  position: absolute;
  background: linear-gradient(-3deg, transparent 70%, white 0%);
  z-index: 2000;
  height: 40vh;
  width: 100vw; }

.hide-mobile {
  display: none; }

.margin {
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-right: 3vW;
  padding-left: 3vW; }

.about__heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #e84e0f;
  padding: 0 0 5% 0; }

.about__bodyText {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4em;
  padding-bottom: 3%;
  color: #4a4a49; }

.about__image {
  display: none; }

.business__heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #e84e0f;
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  width: 100%;
  margin-top: 5vw; }

.icons__section {
  text-align: center;
  padding: 1%; }

.icons__image--caption {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4em;
  font-weight: 600;
  color: #4a4a49;
  text-align: center; }

.col-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.618em; }
  .col-container::after {
    clear: both;
    content: "";
    display: table; }

.col-row {
  display: block;
  padding: .2em 0; }
  .col-row::after {
    clear: both;
    content: "";
    display: table; }

.hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 75vh;
  background: url("../imgs/case_sibylla/sibylla_hero.jpg") no-repeat center center;
  background-size: cover;
  text-align: center; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero .intro {
    position: relative;
    top: 16vh; }
  .hero .intro__logo img {
    width: 20vw;
    height: auto;
    margin: 0 auto; }
  .hero .intro__heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff; }
  .hero .intro__caption {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff; }
  .hero .slice-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75em;
    background: linear-gradient(to right bottom, transparent 49.8%, #ffffff 50%); }

.single {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  padding: 1.25em;
  background-color: #ffffff; }
  .single::after {
    clear: both;
    content: "";
    display: table; }
  .single * {
    margin-bottom: 0.625em; }
  .single .single__icon {
    text-align: center; }
  .single .single__heading {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #e84e0f;
    text-align: center; }
  .single .single__paragraph {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4em;
    color: #4a4a49;
    margin-bottom: 1.25em; }
    .single .single__paragraph:last-child {
      margin-right: 0; }
  .single .single__image img {
    width: 100%;
    height: auto; }

.costumers {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  height: 500px; }

#us {
  display: none; }

@media screen and (min-width: 770px) {
  .col-t-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-right: 0; }
    .col-t-1:last-child {
      margin-right: 0; }

  .col-t-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-t-2:last-child {
      margin-right: 0; }
    .col-t-2:nth-child(6n) {
      margin-right: 0; }

  .col-t-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-t-3:last-child {
      margin-right: 0; }
    .col-t-3:nth-child(4n) {
      margin-right: 0; }

  .col-t-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-t-4:last-child {
      margin-right: 0; }
    .col-t-4:nth-child(3n) {
      margin-right: 0; }

  .col-t-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-t-5:last-child {
      margin-right: 0; }
    .col-t-5:nth-child(2n) {
      margin-right: 0; }

  .col-t-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-t-6:last-child {
      margin-right: 0; }
    .col-t-6:nth-child(2n) {
      margin-right: 0; }

  .col-t-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-t-7:last-child {
      margin-right: 0; }
    .col-t-7:nth-child(2n) {
      margin-right: 0; }

  .col-t-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-t-8:last-child {
      margin-right: 0; }
    .col-t-8:nth-child(2n) {
      margin-right: 0; }

  .col-t-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-t-9:last-child {
      margin-right: 0; }
    .col-t-9:nth-child(1n) {
      margin-right: 0; }

  .col-t-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-t-10:last-child {
      margin-right: 0; }
    .col-t-10:nth-child(1n) {
      margin-right: 0; }

  .col-t-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-t-11:last-child {
      margin-right: 0; }
    .col-t-11:nth-child(1n) {
      margin-right: 0; }

  .col-t-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-t-12:last-child {
      margin-right: 0; }
    .col-t-12:nth-child(1n) {
      margin-right: 0; }

  .col-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.618em; }
    .col-container::after {
      clear: both;
      content: "";
      display: table; }

  .col-row {
    display: block;
    padding: .2em 0; }
    .col-row::after {
      clear: both;
      content: "";
      display: table; }

  .hide-mobile {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding: 2.35765%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden; }
    .hide-mobile:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1024px) {
  .col-d-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-right: 0; }
    .col-d-1:last-child {
      margin-right: 0; }

  .col-d-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-d-2:last-child {
      margin-right: 0; }
    .col-d-2:nth-child(6n) {
      margin-right: 0; }

  .col-d-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-d-3:last-child {
      margin-right: 0; }
    .col-d-3:nth-child(4n) {
      margin-right: 0; }

  .col-d-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-d-4:last-child {
      margin-right: 0; }
    .col-d-4:nth-child(3n) {
      margin-right: 0; }

  .col-d-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-d-5:last-child {
      margin-right: 0; }
    .col-d-5:nth-child(2n) {
      margin-right: 0; }

  .col-d-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-d-6:last-child {
      margin-right: 0; }
    .col-d-6:nth-child(2n) {
      margin-right: 0; }

  .col-d-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-d-7:last-child {
      margin-right: 0; }
    .col-d-7:nth-child(2n) {
      margin-right: 0; }

  .col-d-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-d-8:last-child {
      margin-right: 0; }
    .col-d-8:nth-child(2n) {
      margin-right: 0; }

  .col-d-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-d-9:last-child {
      margin-right: 0; }
    .col-d-9:nth-child(1n) {
      margin-right: 0; }

  .col-d-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-d-10:last-child {
      margin-right: 0; }
    .col-d-10:nth-child(1n) {
      margin-right: 0; }

  .col-d-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-d-11:last-child {
      margin-right: 0; }
    .col-d-11:nth-child(1n) {
      margin-right: 0; }

  .col-d-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-d-12:last-child {
      margin-right: 0; }
    .col-d-12:nth-child(1n) {
      margin-right: 0; }

  #us {
    display: block; }

  .col-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-right: 0; }
    .col-container::after {
      clear: both;
      content: "";
      display: table; }

  .col-row {
    display: block;
    padding: .2em 0; }
    .col-row::after {
      clear: both;
      content: "";
      display: table; }

  .icons__section {
    text-align: center;
    padding: 1.618em; }

  .icons__image img {
    width: 75%;
    height: auto; }

  .icons__image--caption {
    padding-top: 0.809em; }

  .hero .intro {
    top: 20vh; }
  .hero .intro__logo img {
    width: 30vw;
    height: auto;
    margin: o auto; }
  .hero .intro__heading {
    font-size: 3em; }
  .hero .intro__caption {
    font-size: 1.5em; }
  .hero .slice-bottom {
    height: 7.5em; }

  .single {
    max-width: 60em; } }
html {
  font-size: 1rem; }

body {
  font-family: 'Lato','Open Sans', sans-serif; }

/*# sourceMappingURL=style.css.map */
