@for $i from 1 through 12 {
     .col-d-#{$i} {
     	@include span-columns($i);
     	$columns: round(12 / $i);
     	@if $i > 1 { @include omega(#{$columns}n); }
     	@else { @include omega; }
      }
}

.col-container {
	@include outer-container;
	padding: $gutter;
}

.col-row {
	@include row;
	padding: .2em 0;
}

.icons__section {
    text-align: center;
    padding: $gutter;
}

.icons__image {
    img { 
        width: 75%;
        height: auto;
    }
}

.icons__image--caption {
   padding-top: $gutter/2; 

}

.about__image {
    display: block;
    width: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

