
@for $i from 1 through 12 {
     .col-d-#{$i} {
     	@include span-columns($i);
     	$columns: round(12 / $i);
     	@if $i > 1 { @include omega(#{$columns}n); }
     	@else { @include omega; }
      }
}
#us{
	display: block;
}
.col-container {
	@include outer-container;
	max-width: 2000px;
	padding-right: 0;
}
.col-row {
	@include row;
	padding: .2em 0;
}

.icons__section {
    text-align: center;
    padding: $gutter;
}

.icons__image {
    img { 
        width: 75%;
        height: auto;
    }
}

.icons__image--caption {
   padding-top: $gutter/2; 

}


.about__image {

}

.hero {
    .intro {
        top: 10vh;
    }
    .intro__logo img {
        width: 30vw;
        height: auto;
        margin: o auto;
    }
    .intro__heading {
        font-size: em(48);
    }
    .intro__caption {
        font-size: em(24);
    }
    .slice-bottom {
        height: em(120);
    }
}
.single {
    max-width: em(960);
}

.case-contact {
  position: relative;
  .col-row {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    min-height: em(200);
  }
  .case-contact__heading {
  }
  .case-contact__portrait img {
  }
  .case-contact__contactinfo {
    & :first-child {
      margin-top: em(20);
    }
    & > p {
      font-size: em(24);
    }
    & > p a {
      font-size: 0.8em;
    }   
  }
  .case-contact__qoute {
    p {
      margin-top: 0.6em;
    }
  }
  .case-contact__form {
    padding: em(15);
    & * {
      display: inline-block;
      margin-bottom: 0;
    }
    label {
      width: 20%;
      text-align: center;
      margin: 0;
      margin-right: 2%;
    }
    input {
      font-size: 0.9em;
      width: 50%;
      margin-right: 2%;
    }
    button {
      width: 25%;
    }
  }
}
.contact__form {
    padding-right: $padding-w*2;
}
.footer {
    padding-left: $padding-w;
    padding-top: 0;
    clear: both;
}