/*
* COLORS
*/
$accentOrange: rgb(232, 78, 15);
$accentYellow: rgb(251, 225, 0);
$accentGreen: rgb(0, 164, 112);
$accentBlue: rgb(0, 180, 213);
$primaryGrey: rgb(74, 74, 73);
$accentMediumGrey: rgb(218,218,218);
$accentLightGrey: rgb(124,123,123);

$padding-h: 10vw;
$padding-w: 3vW;
$margin-h: 10vw;
$margin-w: 3vW;

/*
* FONTS
*/
@mixin mainHeading {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}
@mixin subHeading {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
@mixin captionText {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}
@mixin bodyText {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.6em;
}

/*
* GRIDS
*/

/**
 * PX to EM
 */
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}



