/*
* Logo color animation
*/
#logo {
	-webkit-animation: changefillcolor 4s ease infinite;
	-moz-animation: changefillcolor 4s ease infinite;
	animation: changefillcolor 4s ease infinite;
}

#nav-logo {
	-webkit-animation: changefillcolor 20s ease infinite;
	-moz-animation: changefillcolor 20s ease infinite;
	animation: changefillcolor 20s ease infinite;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	&:visited {
		color: #ffffff;
	}
	&:hover {
		border-bottom: em(2) solid #ffffff;
	}
}
@-webkit-keyframes changecolor {
	0%{fill:#00a470}
    25%{fill:#00b4d5}
    50%{fill:#e84e0f}
    75%{fill:#fbe100;}
    100%{fill:#00a470}
}
@-moz-keyframes changefillcolor {
    0%{fill:#00a470}
    25%{fill:#00b4d5}
    50%{fill:#e84e0f}
    75%{fill:#fbe100;}
    100%{fill:#00a470}
}
@keyframes changefillcolor { 
    0%{fill:#00a470}
    25%{fill:#00b4d5}
    50%{fill:#e84e0f}
    75%{fill:#fbe100;}
    100%{fill:#00a470}
}

@-webkit-keyframes changestrokecolor {
	0%{stroke:#00a470}
    25%{stroke:#00b4d5}
    50%{stroke:#e84e0f}
    75%{stroke:#fbe100;}
    100%{stroke:#00a470}
}
@-moz-keyframes changestrokecolor {
    0%{stroke:#00a470}
    25%{stroke:#00b4d5}
    50%{stroke:#e84e0f}
    75%{stroke:#fbe100;}
    100%{stroke:#00a470}
}
@keyframes changestrokecolor { 
    0%{stroke:#00a470}
    25%{stroke:#00b4d5}
    50%{stroke:#e84e0f}
    75%{stroke:#fbe100;}
    100%{stroke:#00a470}
}

@for $i from 1 through 12 {
	.col-m-#{$i} {
		@include span-columns($i);
		$columns: round(12 / $i);
		@if $i > 1 { @include omega(#{$columns}n); }
		@else { @include omega; }
	}
}
body {
	position: absolute;
	top: 0;
}
.section-container {
	//background-color: red;
	height: 120vh;
	position: relative;
	width: 100vw;
}

.main-nav {
	position: relative;
	z-index: 999;
	width: 100vw;
	ul {
		padding: $padding-h/4 $padding-w;
	}
	ul li {
		padding-right: 2.5%;
		display: inline-block;
		@include captionText;
		color: white;
		vertical-align: top;
		line-height: 2.5rem;
	}
	img {
		height: 3em;
	}
}
.puff {
	height: 50%;
	width: 103%;
	@include row();

	.puff__item {
		position: relative;
		height: 50%;
		@include span-columns(6);
		@include omega;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		cursor: pointer;
		p {
			text-align: center;
			vertical-align: middle;
			line-height: 320px;
			color: #ffffff;
			font-size: 2em;
		}
	}
}

.omega {
	@include omega;
}

.hide-mobile {
	display: none;
}

.margin {
	padding: 5em 5% 5em 5%;
}

.about__heading{
	@include mainHeading;
	color: $accentOrange;
	padding: 0 0 5% 0;
}

.about__heading--white{
	color: white;
}

.about__bodyText {
	@include bodyText;
	padding-bottom: 3%; 
	color: $primaryGrey;
}

.about__image {
	display: none;
}

.business__heading {
	@include subHeading;
	text-align: center;
	color: $accentOrange;
	padding-top: $gutter/2;
	padding-bottom: $gutter/2; 
	width: 100%;
	margin-top: $padding-h/2;
}

.icons__section {
	text-align: center;
	padding: 1%;
	padding-bottom: em(105);
}

.icons__image--caption {
	@include bodyText;
	font-weight: 600;
	color: $primaryGrey;
	text-align: center;
}

.col-container {
	@include outer-container;
	padding: $gutter;
}

.col-row {
	@include row;
	padding: .2em 0;
}
.costumer {
	background-color: $accentYellow;
}
.hero {
	@include outer-container;
	position: relative;
	max-width: 100vw;
	min-height: em(600);
	background: url('../imgs/case_sibylla/sibylla_hero.jpg') no-repeat center center;
	background-size: cover;
	.intro {
		position: relative;
		top: 8vh;
		text-align: center;
	}
	.intro__logo img {
		width: 44vw;
		height: auto;
		// margin: 0 auto;
	}
	.intro__heading {
		@include mainHeading;
		font-size: 2.4em;
		color: #ffffff;
		margin: em(15) auto;
	}
	.intro__caption {
		@include captionText;
		color: #ffffff;
		span {
			padding: em(5);
		}
		/* .first:hover, .first:focus {
			background-color: $accentOrange;
		}
		.second:hover, .second:focus {
			background-color: $accentYellow;
		}
		.third:hover, .third:focus {
			background-color: $accentBlue;
		}*/
	}
	.slice-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: em(60);
		background: linear-gradient(173deg, transparent 49.8%, #ffffff 50%);
	}
}
.single {
	@include outer-container;
	width: 100vw;
	padding: em(20);
	background-color: #ffffff;
	& * {
		margin-bottom: em(10);
	}
	.single__icon {
		position: relative;
		text-align: center;
		width: em(140);
		margin: 0 auto;
	}
	.single__heading {
		@include subHeading;
		color: $accentOrange;
		text-align: center;
	}
	.single__paragraph {
		@include span-columns(12);
		@include omega;
		@include bodyText;
		color: $primaryGrey;
		float: none;
		margin: 0 auto;
		margin-bottom: em(90);
		max-width: em(700);
		&:last-child {
			margin-right: auto;
		}
	}
	.single__image img {
		width: 100%;
		height: auto;
	}
	.strategy {
		color: $accentYellow;
	}
	.creation {
		color: $accentBlue;
	}
	.result {
		color: $accentOrange;
	}
}
.strategy {
	color: $accentYellow;
}
.creation {
	color: $accentBlue;
}
.result {
	color: $accentOrange;
}
.case-gallery {
	.case-gallery__heading {
		@include mainHeading;
		position: relative;
		padding: em(20);
		z-index: 9999;
		color: $accentOrange;
		text-align: center;
	}
	& img {
		width: 100%;
		height: auto;
	}
}
.case-contact {
	@include outer-container;
	position: relative;
	max-width: 100vw;
	height: em(1000);
	padding-top: em(160);
	padding-bottom: em(160);
	background-color: $accentBlue;
	color: #ffffff;
	.case-contact__heading {
		@include mainHeading;
		text-align: center;
		margin-bottom: em(15);
	}
	.case-contact__portrait img {
		width: 100%;
		height: auto;
	}
	.case-contact__contactinfo {
		& :first-child {
			// margin-top: em(16);
		}
		& > p {
			font-size: em(16);
		}
		& > p a {
			color: #ffffff;
		}
		.contactinfo__name {
			font-weight: 800;
		}
	}
	.case-contact__qoute {
		margin: em(15) auto;
		& p {
			font-size: em(18);
			font-style: italic;
		}
	}
	.case-contact__form {
		background-color: #ffffff;
		padding: em(15);
		& * {
			display: block;
			margin-bottom: em(15);
		}
		label {
			font-size: 1.2em;
			color: $accentBlue;
		}
		input, button {
		    width: 100%;
		    padding: em(10);
		    background-color: $accentBlue;
		    border: none;
		    border-radius: em(3);
		    &:focus {
		    	border-color: $accentOrange;
		    	box-shadow: none;
		    }
		    &::-webkit-input-placeholder {
			   color: #fff;
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: #fff;  
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: #fff;  
			}
			&:-ms-input-placeholder {  
			   color: #fff;  
			}
		}
		input {
			font-size: 0.9em;
		}
		button {
			background-color: $accentBlue;
			color: #ffffff;
			font-size: 0.9em;
			&:hover, &:focus {
				background-color: $accentYellow;
			}
		}
	}
}
.switch-case {
	display: none;
}
.costumers{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	height: 500px;
}
#us {
	display: none;
}

/*
* Loading animation
*/

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feather';
	src:url('../fonts/feather/feather.eot?-9jv4cc');
	src:url('../fonts/feather/feather.eot?#iefix-9jv4cc') format('embedded-opentype'),
		url('../fonts/feather/feather.woff?-9jv4cc') format('woff'),
		url('../fonts/feather/feather.ttf?-9jv4cc') format('truetype'),
		url('../fonts/feather/feather.svg?-9jv4cc#feather') format('svg');
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 2001;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: $primaryGrey;

	* {
		margin: .5em 0;
	}

	h1 {
		margin: 0 auto;
	}
	h2 {
		text-align: center;
		@include subHeading;
		color: white;
	}
}
.ip-loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
.logo-path {
	margin: 0 auto;
}
.ip-logot {
	top: 30%;
	height: 100%;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.ip-loader {
	bottom: 35%;
}
.ip-loader p {
	color: white;
	text-align: center;
}

.ip-header .ip-inner {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.ip-header .ip-logot svg {
	text-align: center;
}

.ip-header .ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	-webkit-animation: changestrokecolor 4s ease infinite;
	-moz-animation: changestrokecolor 4s ease infinite;
	animation: changestrokecolor 4s ease infinite;
}

/* Content */
.ip-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0 10em 0;
	max-width: 1100px;
	width: 90%;
}

.browser {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	max-width: 1000px;
	width: 100%;
	border-radius: 8px;
	background: #fff url(../img/browser.png) no-repeat 50% 0;
	background-size: 100%;
	color: #d3d3d3;
}

.box {
	float: left;
	padding: 3.5em;
	width: 33.3%;
	font-size: 0.7em;
	line-height: 1.5;
}

.box p {
	font-family: 'Blokk', Arial, sans-serif;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-radius: 5px;
	background: #dfdfdf;
	color: #fff;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 5em;
	font-family: 'feather';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
	content: "\e006";
}

.icon-cog:before {
	content: "\e023";
}

.icon-heart:before {
	content: "\e024";
}

/* Animations */

/* Initial animation of header elements */
.loading {
	.ip-logot, .ip-loader {
		opacity: 1;
		-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	
	.ip-loader {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
}
@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded  {
	.ip-logo, .ip-loader {
		opacity: 1;
	}
	.ip-logo {
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-loader {
		-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	}

	.ip-logo svg path {
		-webkit-transition: all 0.5s ease 0.3s;
		transition: all 0.5s ease 0.3s;
		fill: #fff;
	}

	.ip-header {
		-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}

	/* Content animations */
	
	header.section-container nav {
		-webkit-animation: animLoadedMavigation 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animLoadedMavigation 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	main,
	.ip-main h2,
	.ip-main .browser,
	.ip-main .browser .box,
	.codrops-demos {
		-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	}

	.ip-main .browser,
	.ip-main .browser .box:first-child {
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

.loaded .ip-main .browser .box:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedMavigation {
	from { opacity: 1; -webkit-transform: translate3d(0,600px,0); }
}

@keyframes animLoadedNavigation {
	from { opacity: 1; -webkit-transform: translate3d(0,600px,0); transform: translate3d(0,600px,0); }
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,50px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,50px,0); transform: translate3d(0,50px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}

/* No JS */
.no-js .ip-header {
	position: relative;
	min-height: 0px;
}

.no-js .ip-header .ip-logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .ip-header .ip-logo svg path {
	fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

	.ip-main h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.box {
		width: 100%;
	}

}

.contact {
    background-color: $primaryGrey;
    color: #FFFFFF;

   i {
    color: $accentOrange;
    font-size: 1.8rem;
   }
}

.contact__heading {
    @include mainHeading;
   	padding-top: $gutter;
}

.contact__tagline {
    @include captionText;
    padding-top: $gutter/2;
}

.contact__address {
	padding-left: $margin-w;
    figure {
        float: left;
        display: inline-block;
        margin-right: $gutter;
        margin-bottom: $gutter;
        margin-top: $gutter/3;
        height: 1rem;
        clear: both;

    }

    figcaption {
        float: left;
        display: inline-block;
        margin-top: $gutter/3;
        @include captionText;
        text-align: middle;
    }

    p {
        clear: both;
        margin-top: $gutter/2;
    }
}
.form__heading {
	@include captionText;
    text-align: middle;
    padding-bottom: $margin-h/4;
    color: #FFFFFF;
}

.social {
    padding-top: $gutter;
    margin-bottom: $margin-h;

    i {
        margin-right: $gutter/2;
    }
}

.contact__form {
    color: #000000;
    
    label {
        display: none;
    }

	input {
        background-color: $accentOrange;
        color: #000000;
        border: 0;
        height: 2rem;
        margin-bottom: $gutter/2;
        padding-left: $gutter/4;
        @include bodyText;
    }

    ::-webkit-input-placeholder {
        color: #000000;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #000000;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #000000;
    }

    :-ms-input-placeholder {  
        color: #000000;
    }

    textarea {
        border: 0;
        margin-bottom: $gutter/2;
        background-color: $accentOrange;
        color: #000000;
        @include bodyText;
        padding-left: $gutter/4;
        height: $gutter*4;
    }
}

.form__button {
    @include captionText;
    float: right;
}

.footer {
	padding-left: $padding-w;
	padding-top: $padding-h;
    clear: both;
}

// DIVIDERS
.divider-top {
	position: absolute;
	top: 0;
	width: 100vw;
	height: em(200);
	padding: 0 50px 0 0;
	margin: 0 0 0 0;
	background: linear-gradient( -7deg, transparent 49.8%, #ffffff 50%);
}
.divider-top--header {
	@extend .divider-top;
}
.divder-top--transparent {
	@extend .divider-top;
	background: transparent;
}
.divider-top--case-contact {
	@extend .divider-top;
	background: $accentGreen;
}
.divider-top--yellow {
	@extend .divider-top;
	background: linear-gradient( -7deg, transparent 49.8%, $accentYellow 50%);
}
.divider-top--grey {
	@extend .divider-top;
	background: linear-gradient( -7deg, transparent 49.8%, $primaryGrey 50%);
}
.divider-top--header {
	@extend .divider-top--grey;
	background: linear-gradient( -7deg, transparent 49.8%, $primaryGrey 50%);
}
.divider-bottom {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: em(200);
	background: linear-gradient( 173deg, transparent 49.8%, #ffffff 50%);
}
.divider-bottom--yellow {
	@extend .divider-bottom;
	background: linear-gradient(173deg, transparent 49.8%, $accentYellow 50%);
}
.divider-bottom--case-contact {
	@extend .divider-bottom;
	background: $accentGreen;
}
.divider-bottom--grey {
	@extend .divider-bottom;
	background: linear-gradient(173deg, transparent 49.8%, $primaryGrey 50%); 
}
.divider-bottom--header {
	@extend .divider-bottom;
	//bottom: 123px;
}

// OVERLAY
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}
.overlayYellow {
	@extend .overlay;
	background-color: $accentYellow;
}
.overlayGreen {
	@extend .overlay;
	background-color: $accentGreen;
}
.overlayBlue {
	@extend .overlay;
	background-color: $accentBlue;
}
.overlayOrange {
	@extend .overlay;
	background-color: $accentOrange;
}