@for $i from 1 through 12 {
	.col-m-#{$i} {
		@include span-columns($i);
		$columns: round(12 / $i);
		@if $i > 1 { @include omega(#{$columns}n); }
		@else { @include omega; }
	}
}

.section-container {
	height: 80vh;
	position: relative;
	width: 100vw;
}

.main-nav {
		width: 100vw;
	ul{
		margin: $margin-h/4 $margin-w ;
	}
	ul li {
		padding-right: 2.5%;
		display: inline-block;
		@include captionText;
		color: $accentYellow;
		vertical-align: top;
		line-height: 2.5rem;
	}
	img{
		height: 3em;
	}
}
.puff{
	height: 50%;
	@include fill-parent();
	@include row(table);
}

.puff__item {
	@include span-columns(4);
	@include pad();
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

.divider-top{
	position: absolute;
	background: linear-gradient(-3deg, transparent 70%, white 0%); 
	z-index: 2000;
	height: 32vh;
	width: 100vw;
}
.divider-bottom {
	position: absolute;
	height: 32vh;
	background: linear-gradient(177deg, transparent 70%, white 0%); 
	z-index: 2000;
	width: 100vw;
	bottom: 0;
}
.divider-top--header{
	position: absolute;
	background: linear-gradient(-3deg, transparent 70%, white 0%); 
	z-index: 2000;
	height: 40vh;
	width: 100vw;
}

.hide-mobile {
	display: none;
}

.margin {
	padding-top: $margin-h;
	padding-bottom: $margin-h;
	padding-right: $margin-w;
	padding-left: $margin-w;
}

.about__heading{
	@include mainHeading;
	color: $accentOrange;
	padding: 0 0 5% 0;
}

.about__bodyText {
	@include bodyText;
	padding-bottom: 3%; 
	color: $primaryGrey;
}

.about__image {
	display: none;
}

.business__heading {
	@include subHeading;
	text-align: center;
	color: $accentOrange;
	padding-top: $gutter/2;
	padding-bottom: $gutter/2; 
	width: 100%;
	margin-top: $margin-h/2;
}

.icons__section {
	text-align: center;
	padding: 1%;
}

.icons__image--caption {
	@include bodyText;
	font-weight: 600;
	color: $primaryGrey;
	text-align: center;
}

.col-container {
	@include outer-container;
	padding: $gutter;
}

.col-row {
	@include row;
	padding: .2em 0;
}

.hero {
	@include outer-container;
	position: relative;
	height: 75vh;
	background: url('../imgs/case_sibylla/sibylla_hero.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	.intro {
		position: relative;
		top: 16vh;
	}
	.intro__logo img {
		width: 20vw;
		height: auto;
		margin: 0 auto;
	}
	.intro__heading {
		@include mainHeading;
		color: #ffffff;
	}
	.intro__caption {
		@include captionText;
		color: #ffffff;
	}
	.slice-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: em(60);
		background: linear-gradient(to right bottom, transparent 49.8%, #ffffff 50%);
	}
}

.single {
	@include outer-container;
	width: 100vw;
	padding: em(20);
	background-color: #ffffff;
	& * {
		margin-bottom: em(10);
	}
	.single__icon {
		text-align: center;
	}
	.single__heading {
		@include subHeading;
		color: $accentOrange;
		text-align: center;
	}
	.single__paragraph {
		@include span-columns(12);
		@include omega;
		@include bodyText;
		color: $primaryGrey;
		margin-bottom: em(20);
	}
	.single__image img {
		width: 100%;
		height: auto;
	}
}
.costumers{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	height: 500px;
}
#us {
	display: none;
}

.contact {
    background-color: $primaryGrey;
    color: #FFFFFF;

   i {
    color: $accentOrange;
    font-size: 1.8rem;
   }
}

.contact__heading {
    @include mainHeading;
   	padding-top: $margin-h;

}

.contact__tagline {
    @include captionText;
    padding-top: $gutter/2;
}

.contact__address {
	padding-left: $margin-w;
    figure {
        float: left;
        display: inline-block;
        margin-right: $gutter;
        margin-bottom: $gutter;
        margin-top: $gutter/3;
        height: 1rem;
        clear: both;

    }

    figcaption {
        float: left;
        display: inline-block;
        margin-top: $gutter/3;
        @include subHeading;
        text-align: middle;
    }

    p {
        clear: both;
        margin-top: $gutter/2;
    }
}

.social {
    padding-top: $gutter;
    margin-bottom: $margin-h;

    i {
        margin-right: $gutter/2;
    }
}

.contact__form {
    color: #000000;
    padding-right: $margin-w;
    
    label {
        display: none;
    }

    input {
        background-color: $accentOrange;
        color: #000000;
        border: 0;
        height: 2rem;
        margin-bottom: $gutter/2;
     	//margin-right: 0.7em !important;
        padding-left: $gutter/4;
        @include bodyText;
        /*&:last-child {
        	margin-right: 0 !important;
        }*/
    }

    ::-webkit-input-placeholder {
        color: #000000;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #000000;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #000000;
    }

    :-ms-input-placeholder {  
        color: #000000;
    }

    textarea {
        border: 0;
        margin-bottom: $gutter/2;
        background-color: $accentOrange;
        color: #000000;
        @include bodyText;
        padding-left: $gutter/4;
        height: $gutter*4;
    }
}

.form__button {
    @include captionText;
    float: right;
}

.footer {
	padding-left: $margin-w;
	padding-top: $margin-h;
    clear: both;
}