
@for $i from 1 through 12 {
     .col-t-#{$i} {
     	@include span-columns($i, table);
     	$columns: round(12 / $i);
     	@if $i > 1 { @include omega(#{$columns}n); }
     	@else { @include omega; }
      }
}

.col-container {
	@include outer-container;
	padding: 0;
}

.main-nav {
	ul {
		padding: $padding-h/4 $padding-w;
	}
}

.right {
	float:right;
	margin-right: 1em;
}

.col-row {
	@include row;
	padding: .2em 0;
}

.omega {
	@include omega;
}

.section-container {
	height: 50em;
	width: 100vw;
	overflow: hidden;
}

.puff {
	height: 50%;
	width: 108%;
	.puff__item {
		@include span-columns(3);
		@include omega;
		height: 25em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		p {
	      text-align: center;
	      vertical-align: middle;
	      line-height: 520px;
	      color: #ffffff;
	      font-size: 2em;

	    }
	}
}
.puff + .puff {
	.puff__item {
		p {
			line-height: 220px;
		}
	}
}


